{% load static %}

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="{% static 'core/img/favicongarden.png'%}">
    <link rel="stylesheet" href="{% static 'core/css/style.css'%}">
    <link href="{% static 'core/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <title>{% block title %}{% endblock %} | Vive Verde</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Crete+Round:ital@0;1&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapisVi.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa&family=Crete+Round:ital@0;1&display=swap"
        rel="stylesheet">
        <link rel="stylesheet" href="{% static 'core/css/form.css' %}">
        <link rel="stylesheet" href="{% static 'core/css/map.css' %}">
        <link rel="stylesheet" href="{% static 'core/css/stylevalidate.css'%}">
</head>

<body>
    <header>
    

        <nav class="navbar navbar-expand-lg navbar-light  ">
            <div class="container-fluid">
                <a class="nav-link active" aria-current="page" href="{% url 'index' %}"><img class="tamanologo"
                        src="{% static 'core/img/logogranja1.jpg'%}"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="{% url 'contact' %}">Escríbenos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="{% url 'nosotros' %}">Nosotros</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="{% url 'datos_seguimiento'%}">Sigue tu compra</a>
                        </li>
                    </ul>

                    <div class="d-flex">
                        <div class="box">
                            <div class="container-4">
                                <form action="/buscar/" method="GET">
                                <input type="search" id="search" name="prd" placeholder="Buscar en Vive Verde..." />
                                <button  class="icon" ><img src="https://img.icons8.com/material-two-tone/48/000000/search.png"/><i class="fa fa-search"></i></button>
                                {% comment %} <input type="button" value="Buscar"> {% endcomment %}
                                </form>
                            </div>
                        </div>
                    </div>
                    <br>
                    <br>
                    <div class="d-flex">
                       
                        {% if user.is_authenticated %}
                        Hola {{user.username}} &nbsp; &nbsp; &nbsp; &nbsp;<a href="{% url 'cerrar_sesion' %}" style="color: black;">Cerrar sesión</a>

                        {% else %}

                        <a href="{% url 'logear'%}" style="color: black;"> Login </a> &nbsp; &nbsp; &nbsp; &nbsp; <a href="{% url 'Autenticacion'%}" style="color: black;">Regístrate</a>

                        {% endif %}

                    </div>
                    {% comment %} <div class="d-flex">
                        <button onclick="document.getElementById('id01').style.display='block' class="form-control btn btn-success btn-md"">Ingresar</button>
                    </div> {% endcomment %}
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end footpaddd">

                        <button class="btn btn btn-block" type="button"><a href="{% url 'carrito' %}" class="card-link1"><img
                                    src="{% static 'core/img/carrito-de-compras.png'%}" alt=""></a></button>
                    </div>
                </div>
            </div>


    
            <div id="id01" class="modal">
              
              <form class="modal-content animate" action="/action_page.php" method="post">
                <div class="imgcontainer">
                  <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
                  <img class="tamanologo" src="{% static 'core/img/logogranja1.jpg'%}" alt="Avatar" class="avatar">
                </div>
            
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-md-3"></div>
                        <div class="col-md-6" >
                            <label for="uname"><b>Nombre de usuario</b></label>
                            <input type="text" placeholder="Ingrese su email" name="uname" required>
                        
                            <label for="psw"><b>Contraseña</b></label>
                            <input type="password" placeholder="Ingrese su contraseña" name="psw" required>
                                
                    
                            <a href="nosotros" class="form-control btn btn-sucess  buttono" id="welcome" type="submit">Login</a>
                            <button type="reset" class="form-control btn btn-warning buttono" >Limpiar</button>
                            <label>
                                <input type="checkbox" checked="checked" name="remember"> Recordar contraseña
                            </label>
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                </div>
            
       
                </div> 
              </form>
            </div>
        </nav>

    </header>
    
   {% block content %}{% endblock %}
    <footer>
        <div class="footpadd">
            <div>
                <h5 id="suscripcion">"Hazte socio de la fundación "ViveVerde" para obtener un 5% de
                    descuento en el total de tu compra"</h5>
                <br>
                <a class="btn btn-primary" href="{% url 'registrodos' %}" role="button">Suscríbete aquí</a>

        </div>
        <div class="footpadd">
            <a href="https://whatsapp.com"><img
                    src="https://img.icons8.com/external-flatart-icons-outline-flatarticons/64/000000/external-whatsapp-whatsapp-flatart-icons-outline-flatarticons.png" /></a>
            <a href="https://twitter.com"><img src="https://img.icons8.com/ios/50/000000/twitter--v1.png" /></a>
            <a href="https://www.instagram.com"><img
                    src="https://img.icons8.com/ios/50/000000/instagram-new--v1.png" /></a>
            <p><i>"Vive Verde". Todos los derechos reservados.</i></p>
        </div>


    </footer>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'core/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.14.1/build/ol.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.js"></script>
    <script src="{% static 'core/js/pantallaInicio.js' %}"></script>
    <script src="{% static 'core/js/app.js' %}"></script>
    <script src="{% static 'core/js/form.js' %}"></script>
    <script src="{% static 'core/js/mapa.js' %}"></script>
</body>

</html>